In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
kept_tx = pd.read_csv("DCGL_kept.csv", header=None)

In [7]:
genes_of_interest = pd.read_csv("dc_osmo_genes_cleaned.csv")

In [12]:
kept_tx = kept_tx.rename(columns ={0:"transcript"})

In [16]:
len(kept_tx)

18311

In [15]:
len(genes_of_interest)

1079

In [17]:
dc_osmo_genes = pd.merge(genes_of_interest, kept_tx, on="transcript")

In [29]:
dc_osmo_genes_unique = dc_osmo_genes["transcript"].unique

In [34]:
dc_osmo_genes.to_csv("dcgl_osmo_genes_kept.csv")

In [ ]:
#are any of our transcripts of interest DEGs?

In [2]:
int_genes_dc = pd.read_csv("dc_osmo_genes_cleaned.csv")

In [3]:
all_degs = pd.read_csv("all_spp_degs.csv")

In [4]:
all_degs.head()

,nat_transcript,cel_transcript,mag_transcript
0,TRINITY_DN19178_c0_g1_i1,TRINITY_DN10116_c0_g1_i1,TRINITY_DN23680_c4_g1_i5
1,TRINITY_DN19228_c0_g1_i1,TRINITY_DN16606_c0_g1_i1,TRINITY_DN23680_c4_g1_i7
2,TRINITY_DN19705_c0_g1_i2,TRINITY_DN29210_c0_g1_i1,TRINITY_DN22499_c3_g1_i4
3,TRINITY_DN20616_c0_g2_i1,TRINITY_DN31429_c0_g1_i1,TRINITY_DN25562_c3_g1_i7
4,TRINITY_DN20647_c0_g1_i2,TRINITY_DN32604_c0_g1_i1,TRINITY_DN24950_c4_g1_i4

In [5]:
int_genes_dc.head()

,transcript,query,query_species
0,TRINITY_DN47208_c5_g2_i28,KAG0721891.1 Plasma membrane calcium-transport...,Chionoecetes opilio
1,TRINITY_DN47208_c5_g2_i16,KAG0721891.1 Plasma membrane calcium-transport...,Chionoecetes opilio
2,TRINITY_DN47208_c5_g2_i20,KAG0721891.1 Plasma membrane calcium-transport...,Chionoecetes opilio
3,TRINITY_DN47208_c5_g2_i18,KAG0721891.1 Plasma membrane calcium-transport...,Chionoecetes opilio
4,TRINITY_DN47208_c5_g2_i26,KAG0721891.1 Plasma membrane calcium-transport...,Chionoecetes opilio

In [6]:
set(int_genes_dc["transcript"]) & set(all_degs["cel_transcript"])

{'TRINITY_DN43830_c2_g2_i20',
 'TRINITY_DN43830_c2_g2_i6',
 'TRINITY_DN43875_c4_g6_i5',
 'TRINITY_DN47587_c1_g4_i1',
 'TRINITY_DN47799_c1_g1_i5',
 'TRINITY_DN51081_c0_g1_i1',
 'TRINITY_DN68753_c0_g1_i1',
 'TRINITY_DN76498_c0_g1_i1'}

In [8]:
int_genes_dm = pd.read_csv("dm_osmo_genes_cleaned.csv")

In [9]:
set(int_genes_dm["transcript"]) & set(all_degs["mag_transcript"])

{'TRINITY_DN23770_c1_g1_i5',
 'TRINITY_DN24161_c0_g1_i2',
 'TRINITY_DN25667_c2_g2_i5'}

In [10]:
int_genes_gn = pd.read_csv("gn_osmo_genes_cleaned.csv")

In [11]:
set(int_genes_gn["transcript"]) & set(all_degs["nat_transcript"])

{'TRINITY_DN20685_c0_g2_i1',
 'TRINITY_DN21713_c0_g1_i3',
 'TRINITY_DN22631_c4_g1_i2',
 'TRINITY_DN23469_c3_g1_i2',
 'TRINITY_DN23481_c7_g1_i5',
 'TRINITY_DN23608_c2_g1_i2',
 'TRINITY_DN23619_c5_g4_i1'}